<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javateam.TimeLabel.mappers.adminMapper">

    <resultMap type="com.javateam.TimeLabel.model.ProductVO" id="ProductVOResultMap">
        <result property="productIndex" column="PRODUCT_INDEX"/>
        <result property="productName" column="PRODUCT_NAME"/>
        <result property="productCategoryIndex" column="PRODUCT_CATEGORY_INDEX"/>
        <result property="productPrice" column="PRODUCT_PRICE"/>
        <result property="discountedPrice" column="DISCOUNTED_PRICE"/>
        <result property="productInfo" column="PRODUCT_INFO"/>
        <result property="productMainImage" column="PRODUCT_MAIN_IMAGE"/>
        <result property="productThumbImage" column="PRODUCT_DETAIL_IMAGE1"/>
    </resultMap>

    <resultMap type="com.javateam.TimeLabel.model.ProductOptionVO" id="ProductOptionVOResultMap">
        <result property="productOptionIndex" column="PRODUCT_OPTION_INDEX"/>
        <result property="productCategoryIndex" column="PRODUCT_CATEGORY_INDEX"/>
        <result property="productOptionValue" column="PRODUCT_OPTION_VALUE"/>
        <result property="productState" column="PRODUCT_STATE"/>
    </resultMap>

    <sql id="saveProduct">
        PRODUCT_NAME,
        PRODUCT_CATEGORY_INDEX,
        PRODUCT_PRICE,
        PRODUCT_INFO,
        PRODUCT_MAIN_IMAGE,
        PRODUCT_DETAIL_IMAGE1
    </sql>

    <sql id="updateProduct">
        PRODUCT_NAME
        =
        #{productName},
        PRODUCT_PRICE
        =
        #{productPrice},
        PRODUCT_INFO
        =
        #{productInfo}
    </sql>

    <sql id="searchProduct">
        PRODUCT_INDEX,
 		PRODUCT_NAME,
        PRODUCT_CATEGORY_INDEX,
        PRODUCT_PRICE,
        DISCOUNTED_PRICE,
        PRODUCT_INFO,
        PRODUCT_MAIN_IMAGE,
        PRODUCT_DETAIL_IMAGE1
    </sql>

    <!-- 카테고리 호출 -->
    <select id="category" resultType="com.javateam.TimeLabel.model.ProductCategoryVO">
        select *
        from PRODUCT_CATEGORY
    </select>

    <!-- 상품 등록 -->
    <insert id="register" useGeneratedKeys="true">
        insert into PRODUCT(
        <include refid="saveProduct"></include>
        )
        values(#{productName},#{productCategoryIndex}, #{productPrice},#{productInfo},#{productMainImage}, #{productThumbImage})
    </insert>


    <!-- 상품 전체 조회 -->
    <select id="productList" resultMap="ProductVOResultMap">
        select
        <include refid="searchProduct"></include>
        from VIEW_PRODUCT
        <!-- <where>
            <if test="productName != null and productName != ''">
                true 일때 실행되면 where and 는 문법오류 인데 알아서 and를 삭제해줌
                and PRODUCT_NAME like concat('%',#{productName},'%')
            </if>
            <if test="maxPrice != null">
                and price &lt;= #{maxPrice}
            </if>
        </where> -->
    </select>


    <!-- 상품 조회 -->
    <select id="productView" resultMap="ProductVOResultMap">
        select *
        from VIEW_PRODUCT
        where PRODUCT_INDEX = #{productIndex}
    </select>

    <!-- 상품 옵션(상,하,신발 별로) 조회 -->
    <select id="productOptionList" resultMap="ProductOptionVOResultMap">
        select *
        from PRODUCT_OPTION
        where PRODUCT_CATEGORY_INDEX = #{productCategoryIndex}
        <if test="productCategoryIndex == 3">
            ORDER BY PRODUCT_OPTION_VALUE ASC
        </if>
        <if test="productCategoryIndex lte 2">
            ORDER BY PRODUCT_OPTION_VALUE DESC
        </if>
    </select>

    <!-- 상품 업데이트 -->
    <update id="productModify">
        update PRODUCT
        set
        <include refid="updateProduct"></include>
        where PRODUCT_INDEX = #{productIndex}
    </update>

    <!--	&lt;!&ndash; 상품 삭제 &ndash;&gt;-->
    <!--	<delete id="productDelete">-->
    <!--		delete-->
    <!--	   		tbl_product-->
    <!--		where gdsNum = #{gdsNum}-->
    <!--	</delete>-->

    <!-- 상품 제거 -->
    <delete id="productDelete">
        delete
        from PRODUCT
        where PRODUCT_INDEX = #{productIndex}
    </delete>


    <!--	&lt;!&ndash; 모든 유저의 주문 목록 &ndash;&gt;-->
    <!--	<select id="orderList" resultType="com.kubg.domain.OrderVO">-->
    <!--		select -->
    <!--		    orderId, userId, orderRec,-->
    <!--		    userAddr1, userAddr2, userAddr3,-->
    <!--		    orderPhon, amount, orderDate, delivery-->
    <!--		from tbl_order-->
    <!--	</select>-->
    <!--	-->
    <!--	&lt;!&ndash; 특정 주문 목록 &ndash;&gt;-->
    <!--	<select id="orderView" resultType="com.kubg.domain.OrderListVO">-->
    <!--		select -->
    <!--		    o.orderId, o.userId, o.orderRec,-->
    <!--		    o.userAddr1, o.userAddr2, o.userAddr3,-->
    <!--		    o.orderPhon, o.amount, o.orderDate, o.delivery,-->
    <!--		    d.orderDetailsNum, d.gdsNum, d.cartStock,-->
    <!--		    g.gdsName, g.gdsThumbImg, g.gdsPrice-->
    <!--		from tbl_order o-->
    <!--		        inner join tbl_order_details d-->
    <!--		            on o.orderId = d.orderId-->
    <!--		        inner join tbl_product g-->
    <!--		            on d.gdsNum = g.gdsNum-->
    <!--		    where o.orderId = #{orderId}-->
    <!--	</select>-->

    <!--	&lt;!&ndash; 배송 상태 &ndash;&gt;-->
    <!--	<update id="delivery">-->
    <!--		update tbl_order-->
    <!--	   		set delivery = #{delivery}-->
    <!--		where orderId = #{orderId}-->
    <!--	</update>-->

    <!--	&lt;!&ndash; 상품 수량 조절 &ndash;&gt;-->
    <!--	<update id="changeStock">-->
    <!--		update tbl_product-->
    <!--	   		set gdsStock = gdsStock - #{gdsStock}-->
    <!--		where gdsNum = #{gdsNum}-->
    <!--	</update>-->
    <!--	-->
    <!--	&lt;!&ndash; 상품 수량 조절 보조 :: 사용하지 않음&ndash;&gt;-->
    <!--	<select id="ChangeStock_sub" resultType="com.kubg.domain.OrderDetailVO">-->
    <!--		select-->
    <!--			orderId, gdsNum, cartStock-->
    <!--		from tbl_order_details-->
    <!--    		where orderId = #{orderId}-->
    <!--	</select>-->

    <!--	&lt;!&ndash;  모든 소감(댓글) &ndash;&gt;-->
    <!--	<select id="allReply" resultType="com.kubg.domain.ReplyListVO">-->
    <!--		select-->
    <!--		    r.gdsNum, r.userId, r.repNum, r.repCon, r.repDate,-->
    <!--		    m.userName-->
    <!--		from tbl_reply r-->
    <!--		     inner join tbl_member m-->
    <!--		        on r.userId = m.userId-->
    <!--	</select>-->
    <!--	-->
    <!--	&lt;!&ndash; 소감(댓글) 지우기 &ndash;&gt;-->
    <!--	<delete id="deleteReply">-->
    <!--		delete tbl_reply-->
    <!--	   		where repNum = #{repNum}-->
    <!--	</delete>-->


</mapper>


